// placeholder for test, dont't remove it.

$accentColor = #2196f3                      // 主题颜色 #3eaf7c
$textColor = #2c3e50                        // 文本颜色 #2c3e50
$borderColor = #eaecef                      // 边框线颜色 #eaecef
$codeBgColor = #282c34                      // 代码块背景色 #282c34
$backgroundColor = #ffffff                  // 悬浮块背景色 #ffffff
